{%  extends 'base.html' %}

{% block title %} About {% endblock %}

    {% block nav %}Home{% endblock %}{% block link %}{% url 'home' %}{% endblock %}


    {% block content %} 

    <div class="container">
        <h1 class="fw-bolder text-danger">Amazon</h1>
        <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Provident saepe ex magnam? Aspernatur vero earum incidunt laborum necessitatibus est, sapiente dolore quos, aperiam, quisquam consequuntur. Doloribus similique ea provident commodi quisquam nobis quidem corrupti laboriosam. Ipsam alias autem corporis quas fuga nulla labore provident voluptate ipsa, earum unde sed officiis modi aut molestias eos numquam quae rerum consectetur dicta consequuntur illo quo ratione. Ullam dolore natus minima repellendus ea sed, placeat excepturi ad vitae facilis nostrum. Ex nulla quas perferendis cupiditate debitis nesciunt voluptate dolor ratione. Dolorem consequuntur nulla natus laudantium, nostrum repellat veritatis, illum quam odio sequi fugiat animi.</p>
    </div>
    {% endblock %}

 