{%  extends 'base.html' %}
{% load static %}
{% block title %} Change Password {% endblock %}

    {% block nav %}Home{% endblock %}{% block link %}{% url 'home' %}{% endblock %}


    {% block content %} 
<div class="container shadow p-5 mt-4">

    <form method="post">
        {% csrf_token %}
        {{form}}
        <br>
<div class="w-100">
    <button class="btn btn-outline-dark w-25 m-auto ">Change Password</button>

</div>
    </form>
</div>
<script src="{% static 'style.js' %}"> </script>

    {% endblock %}

 