{%  extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock %}

    {% block nav %}Home{% endblock %}{% block link %}{% url 'home' %}{% endblock %}


    {% block content %} 
<div class="container shadow p-5 mt-4">

    <form method="post">
        {% csrf_token %}
        {{signup}}
        <br>
<div class="w-100">
    <button class="btn btn-outline-dark w-25 m-auto ">Sign Up</button>

</div>
    </form>
    <div class="card-footer text-muted text-center mt-4">Already have an account <a class="btn btn-outline-secandary" href="{% url 'login' %}">Login</a> </div>
</div>
<script src="{% static 'style.js' %}"> </script>

    {% endblock %}

 